<div class="container">
 <div class="mt-50">
  <h1>Mypage</h1>
 
  <div class="w-container">
     <p id="notice"><%= notice %></p>
     <div class="center-block">
     <p>支出額(円)</p>
     
     <%= column_chart Spending.group(:date).total, width: "900px", height: "600px"%>01
     </div>
  </div>
 
 </div>
</div>